*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: brown;
    max-width: 100%;
    max-height: 100%;
    
}
#body_p{
    align-items: center;
    text-align: center;
    display: inline;
    background-color: brown;
    max-width: 100%;  
    max-height: 100%;
}
footer{
    background-color: brown;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
}
.a{
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 13px;
    padding-right: 13px;
    max-width: 100%;
    max-height: 100%;

}
.a:hover{
    text-transform:capitalize;
    background-color:silver;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 100%;
    max-height: 100%;
}
.links{
    padding-top: 1rem;
    display: inline-flex;
    float: right;
    padding-right: 13px;
    max-width: 100%;
    max-height: 100%;
}
.logo{
    display: inline-flex;
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 1rem;
    max-width: 100%;
}
.img_logo{
    padding-top:10px;
    width: 50px;
    height: 50px;
    max-width: 100%;
}
.img_f{
    width: 50px;
    height: 50px;
    display: inline-flex;
    float: right;
    max-width: 100%;
}
.contatos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
    width: 150px;
    max-width: 100%;
    
}
.png{
    width: 100%;
    max-width: 100%;
}
.imagem{
    width: 300px;
    display: inline-block;
    max-width: 100%;
}
.text{
    width: 450px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
    max-width: 100%;
    
}
.pai{
    padding: auto;
    display:inline-block;
    text-align: center;
    background-color:brown;
    width: 100%;
    height: 300px;
    max-width: 100%;
}

.email, .endereço, .atende{
    display: inline-block;
    width: 290px;
    height: 200px;
    padding: auto;
    max-width: 100%;
  }
.zap{
    width: 50px;
    height: 50px;
    display: inline-flex;
    float: left;

    }
.pai1{
    display:inline;
    background-color: brown;
    width: 100%;
    max-width: 100%;
    height: 100px;}
.barba , .corte, .selagem, .color{
    display: inline-flex;
    border: 1px solid black;
}
.text_c , .text_b,.text_color{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    border: 2px solid black;
    padding-top: 1rem;
    width: 400px;
    height: 190px;
    padding-left: 1rem;
    display: inline-flex;
    max-width: 100%;
}
.text_s{  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    border: 2px solid black;
    padding-top: 1rem;
    width: 380px;
    height: 190px;
    padding-left: 1rem;
    max-width: 100%;
    display: inline-flex;}
.text_c:hover , .text_b:hover , .text_color:hover , .text_s:hover{
    background-color: lightblue;

}
.pai_service{
    display: inline-flex;
    max-width: 100%;
    
}
h1{
    color:black;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.local{
    align-items: center;
    padding-left: 10rem;
    padding-top: 1rem;
    max-width: 100%;
}
